.header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height: 50vw;
  min-height: 250px;
  max-height: 450px;
  min-width: 300px;
  color: #eee;
  background: url('./assets/images/banner.png') no-repeat center center;
  background-size: cover;
}

.social-icons {
  position: absolute;
  bottom: 40px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px; /* Adjust the gap between icons */
}
.header a {
  color: #eee;
}

.info {
  width: 100%;
  padding: 8% 8% 0 8%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.author {
  display: inline-block;
  width: 85px;
  height: 85px;
  border-radius: 60%;
  background: url(Parul.png) center no-repeat;
  background-size: cover;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.info h4,
.meta {
  font-size: 1.5em;
}

.info h1 {
  font-size: 2em;
}

.meta {
  font-size: 1.5em;
}

@keyframes grow {
  0% {
    transform: scale(1) translateY(0px);
  }
  50% {
    transform: scale(1.2) translateY(-400px);
  }
}
