---
layout: splash
author_profile: false
feature_row0-1:
  - image_path: assets/images/1_sc_epigenomics.png
    alt: "Single cell epigenomics of human tissues"
    title: "<span style='font-size: 0.8em;'>Single cell epigenomics of human tissues</span>"
    excerpt: "<div style='font-size: 1.3em;'>Because the vast majority of disease-causing variants lie in non-coding regions of the human genome, understanding gene regulation is critical for understanding disease risk. Our lab is particularly interested in regions of the genome which influence the expression of nearby genes, aka cis-regulatory elements (CREs), and the regulatory networks they create. We have many completed and ongoing projects which use single cell methods to characterize the epigenome of human tissues including the pancreas, lungs, heart, liver, peripheral blood mononuclear cells (PBMCs), and more.</div>"
    image_size: 50%
  - image_path: assets/images/2_stress.png
    alt: "Islet Stress"
    title: "<span style='font-size: 0.8em;'>In vitro models of disease</span>"
    excerpt: "<div style='font-size: 1.3em;'>Environmental stressors are predicted to play a role in the pathogenesis of diabetes, but their effects on the islet transcriptome and epigenome are largely unknown. Our lab uses a variety of small molecules and proteins to perform in vitro modeling of environmental stressors that pancreatic beta cells might be subject to, such as oxidative or ER stress. Downstream genetic analyses (scRNA-seq, snATAC-seq, etc.) help us to understand the effects of these stressors and how they relate to diabetes risk in humans.</div>"
    image_size: 50%
feature_row0-2:
  - image_path: assets/images/3_pop_genetics.png
    alt: "Population genetics"
    title: "<span style='font-size: 0.8em;'>Population genetics</span>"
    excerpt: "<div style='font-size: 1.3em;'>Diabetes is the most common metabolic disease worldwide. Our lab takes a population genetics approach to understanding underlying genetic risk in both type 1 and type 2 diabetes. We previously generated the largest genome-wide association study (GWAS) for type 1 diabetes to date, and our recent work in this area includes generating polygenic risk scores for disease along with quantitative trait loci mapping, particularly in human pancreatic islets.</div>"
    image_size: 50%
  - image_path: assets/images/4_databases.png
    alt: "CMDGA"
    title: "<span style='font-size: 0.8em;'>Resources and Tools</span>"
    excerpt: "<div style='font-size: 1.3em;'>Our lab takes part in several collaborative efforts to improve access and availability of scientific data and analytical pipelines. Our lab maintains key resources such as PanKBase, the Common Metabolic Diseases Genome Atlas (CMDGA), and the Knowledge Portal. Additionally, we aim to create resources and tools for the community to engage with our lab’s primary data.</div>"
    image_size: 50%
feature_row0-3:
  - image_path: assets/images/disease_risk_prediction.png
    alt: "Disease Risk Prediction"
    title: "<span style='font-size: 0.8em;'>Disease risk prediction</span>"
    excerpt: "<div style='font-size: 1.3em;'>Accurately predicting disease risk is crucial for preventing complications, guiding the selection of preventative therapies, and enhancing population-wide screening. Our lab aims to improve risk prediction in complex diseases, such as type 1 diabetes, by generating genetic risk scores (GRS) and identifying causal biomarkers that can be used to inform personalized medicine and improve early detection of disease. Our recent work includes developing a machine learning GRS and discovering novel metabolite biomarkers that significantly improve the accuracy of risk prediction.</div>"
    image_size: 50%
  - image_path: assets/images/therapeutic_targets.png
    alt: "Identification of therapeutic targets"
    title: "<span style='font-size: 0.8em;'>Identification of therapeutic targets</span>"
    excerpt: "<div style='font-size: 1.3em;'>All of our lab’s work is towards the goal of understanding complex human diseases so we can ultimately prevent and treat them. We identify genes, cis-regulatory elements (CREs), proteins, and metabolites that change in individuals with diabetes and other diseases or are related to genetic and environmental risk of developing these diseases. All of these represent potential targets that could be modulated to prevent or treat disease.</div>"
    image_size: 50%
---
<head>
  <link rel="stylesheet" type="text/css" href="animation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="header">
    <div class="info">
      <div class="meta">
        <!-- Social media icons -->
        <div class="social-icons">
          <a href="https://maps.app.goo.gl/EQCg7VhEKLgPvcYT6" target="_b" class="fab fa-fw fa fa-home" style="color: white;"></a>
          <a href="https://scholar.google.com/citations?user=BL0L_VQAAAAJ" target="_b" class="fab fa-fw fa-google" style="color: white;"></a>
          <a href="https://www.twitter.com/kjgaulton" target="_b" class="fab fa-fw fa-twitter" style="color: white;"></a>
          <a href="https://github.com/orgs/Gaulton-Lab" target="_b" class="fab fa-fw fa-github" style="color: white;"></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p style="text-align: center;">
    The Gaulton lab is a biomedical research group in the Department of Pediatrics and the <a href="https://medschool.ucsd.edu/som/pediatrics/research/centers/pdrc/Pages/default.aspx">UCSD Pediatric Diabetes Research Center</a> at the <a href="http://www.ucsd.edu/">University of California, San Diego</a> School of Medicine in La Jolla, CA.
  </p>
  <p style="text-align: center;">
    Our research interests include mapping gene regulatory programs involved in type 1 diabetes (T1D) and other complex diseases, modulating the activity of gene regulatory elements as therapies to prevent or treat T1D, and identifying novel biomarkers and improving risk prediction of T1D.
  </p>
  <h2 style="text-align: center;">Research Areas</h2>
  {% include feature_row id="feature_row0-1" type="center" class="full" %}
  {% include feature_row id="feature_row0-2" type="center" class="full" %}
  {% include feature_row id="feature_row0-3" type="center" class="full" %}

</body>
